PORT=5000
FRONTEND_URL=http://localhost:5175
MONGO_URI=mongodb://khushibedarkar43_db_user:Khushi2026@ac-hiju6xn-shard-00-00.zdqghtg.mongodb.net:27017,ac-hiju6xn-shard-00-01.zdqghtg.mongodb.net:27017,ac-hiju6xn-shard-00-02.zdqghtg.mongodb.net:27017/stayfeedback?ssl=true&replicaSet=atlas-gzqgmd-shard-0&authSource=admin&appName=Cluster0